.navbar-logo-v {
  font-weight: 800;
  font-size: 36px;
}

.navbar-logo-here {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.5px;
}

.navbar-letter {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.5px;
}
